


div{
    position:relative;
    
    left:50%;
    
    width:1200px; /* A toi de donner la bonne largeur */
   
    margin-left:-600px; /* -largeur/2 */

    background-color: rgb(186, 186, 201);
    border-radius: 25px;
    text-align: center;
    margin-bottom:75px;
    font-weight: bold;
    border-style: solid;
    border-color: rgba(128, 136, 144, 0.966)
    
}



#checkbox{
    transform: scale(1.4);
   

}

#content{
    width:820px;
    border-style: inset;
    border-color: rgba(128, 136, 144, 0.966);
    background-color: rgb(218, 218, 228);
    border-radius: 5px;
    padding: 10px;

}

#X{

    margin-left:10px;
    margin-right:10px;
    border-radius: 10px;
    width: 30px;
    height:30px;

}

#selectall{
    margin-top:10px;
    margin-left: 0px;
    margin-bottom:10px;
    transform: scale(2);
    
}


#suppremultiple{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    width: 100px;
    height:30px;
    border-radius: 10px;
}


#debut{
    text-align: center;
    margin-left:10px;
    margin-right:10px;
    border-style: inset;
    background-color: rgb(218, 218, 228);
    border-color: rgba(128, 136, 144, 0.966)
}
#fin{
    text-align: center;
    margin-left:10px;
    margin-right:10px;
    border-style: inset;
    background-color: rgb(218, 218, 228);
    border-color: rgba(128, 136, 144, 0.966)
}
