<div id="view-todos">

  <table [hidden]="todos.length==0"  >
    <thead>
      <tr>
        <td><input  id="selectall" (click)="checkUncheckall()" type="checkbox"></td>
        <td>A faire...</td>
        <td id="textedebut">Debut</td>
        <td id="textefin">Fin</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <td id="checkbox">
          <input type="checkbox" (click)="toggle(i)" [checked]="todo.isChecked">
        </td>
        <td id="content" (click)="update(todo)" [ngClass]="{strikeOut: todo.isChecked}">{{todo.title}}</td>
        <td id="debut" [ngClass]="{strikeOut: todo.isChecked}"  >{{todo.debut | date:'dd-MM-yyyy'}}</td>
        <td id="fin" [ngClass]="{strikeOut: todo.isChecked}">{{todo.fin | date:'dd-MM-yyyy'}}</td>
        <td>
          <button id="X" type="button" (click)="delete(i)">X</button>
        </td>
      </tr>
      <tr>
        <button id="suppremultiple" type="button" (click)="deleteMultipleTwo()">Supprimer</button>
      </tr>
    </tbody>
  </table>
</div>