<div id="view-todos">

  <table [hidden]="todos.length==0">
    <thead>
      <tr>


        <td><input id="selectall" type="checkbox"></td>
        <td id="textSelectall">Selectionner tout</td>
        <td id="textedebut">Debut</td>
        <td id="textefin">Fin</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <td id="checkbox">
          <input type="checkbox" (click)="toggle(i)" [checked]="todo.isChecked">
        </td>
        <td id="content" [ngClass]="{strikeOut: todo.isChecked}">{{todo.title}}</td>
        <td id="debut" [ngClass]="{strikeOut: todo.isChecked}"  >{{todo.debut}}</td>
        <td id="fin" [ngClass]="{strikeOut: todo.isChecked}">{{todo.fin}}</td>
        <td>
          <button id="X" type="button" (click)="delete(i)">X</button>
        </td>
      </tr>
      <tr>
        <button id="suppremultiple" type="button">Supprimer</button>
      </tr>
    </tbody>
  </table>
</div>